/* COMMON CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR';
  text-decoration: none;
  color:#231f20;
}


html, body{ width: 100%; font-size: 10px;font-weight: 300;}


/* 공통 폰트 컬러  */
.sky{ color: #00AAE0; }



/* 공통 배경 컬러  */





@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Light'), local('NotoSans-Light'), url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Light.woff2) format('woff2'),
  url(../fonts/NotoSans-Light.woff) format('woff');;
  }
  @font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Regular.woff2) format('woff2'),
  url(../fonts/NotoSans-Regular.woff) format('woff');
  }
  @font-face {
  font-family: 'Noto Sans KR';
  font-style: medium;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Medium.woff2) format('woff2'),
  url(../fonts/NotoSans-Medium.woff) format('woff');
  }
  @font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/NotoSans-Bold.eot);
  src: url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Bold.woff2) format('woff2'),
  url(../fonts/NotoSans-Bold.woff) format('woff');
  }
  


/* 
  @media (min-width:360px) and (max-width:375px){
    html{ font-size: 11px !important;}
  }


  @media (min-width:414px) and (max-width:767px){
    html{ font-size: 12px !important;}
  }


 */











